$tile-width: 150px;
$tile-height: 250px;

.tile {
	margin: 20px 20px;
	border-radius: 5px;
	border: 1px solid rgba(167, 167, 170, 0.4);
	box-shadow: 8px 8px 1px 1px rgba(167, 167, 170, 0.4);

	height: $tile-height;
	width: $tile-width;

	text-align: center;
	align-items: center;
	overflow: hidden;
	img {
		height: $tile-height - 10px;
		width: $tile-width - 10px;
		transition: 0.05s linear;
	}
	&.tile-closed {
		background: rgb(241, 241, 198) none repeat scroll 0% 0%;
		img {
			opacity: 0;
		}
	}
}

@media (max-width: 1000px) {
	.tile {
		width: $tile-width - 30px;
		height: $tile-height - 110px;
		img {
			width: $tile-width - 40px;
			height: $tile-height - 120px;
		}
	}
}
